<launch>
    <arg name="claw_cam" value="claw_cam1"/>
	
	<env name = "GSCAM_CONFIG" value = "v4l2src device=/dev/video0 !
        video/x-raw-rgb,framerate-25/1 ! ffmpegcolorspace" />

    <node pkg="gscam" name="$(arg claw_cam)" type="gscam">
        <param name = "camera_name" value = "$(arg claw_cam)" />
        <remap from = "camera/image_raw" to = "$(arg claw_cam)/claw_image_raw" />
        <remap from = "/set_camera_info" to = "camera/claw_camera_info" />
    </node>

    <!--
    <node pkg="camera_calibration" name="cameracalibrator" type="cameracalibrator">
        <param name = "size" value = "8x6" />
        <param name = "square" value = "0.025" />
        <param name = "approximate" value = "0.1" />
        <remap from = "right" to = "/my_stereo/right/image_raw" />
        <remap from = "left" to = "/my_stereo/left/image_raw" />
        <remap from = "left_camera" to = "/my_stereo/left" />
        <remap from = "right_camera" to = "/my_stereo/right" />
    </node>
    -->

</launch>
