<launch>
    <env name = "GSCAM_CONFIG" value = "v4l2src device=/dev/video0 !
        video/x-raw-rgb,framerate-25/1 ! ffmpegcolorspace" />

    <group ns="arm_cam">
        <node pkg="gscam" name="web_cam" type="gscam">
            <param name = "camera_name" value = "arm_cam" />
        </node>

        <node pkg="assignment1" type="better_object_detection.py" name="ball_finder" output="screen" args="arm"/>
    </group>

    <node name="RatSLAMLocalViewCells" pkg="ratslam_ros" type="ratslam_lv" args="$(find ratslam_ros)/config/config_ballboy.txt.in" cwd="node" required="true" />
    <node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(find ratslam_ros)/config/config_ballboy.txt.in" cwd="node" required="true" />
    <node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(find ratslam_ros)/config/config_ballboy.txt.in" cwd="node" required="true" />
    <!--
    comment next line out for using odometry topic, uncomment to use visual SLAM only
    <node name="RatSLAMVisualOdometry" pkg="ratslam_ros" type="ratslam_vo" args="$(find ratslam_ros)/config/config_ballboy.txt.in" cwd="node" required="true" output="screen" />
    -->

    <node pkg="rqt_plot" type="rqt_plot" name="plot_vt_em" args="/arm_cam/greyscale/LocalView/Template/current_id,/arm_cam/greyscale/PoseCell/TopologicalAction/dest_id" />

    <node pkg="assignment1" type="controller.py" name="controller" output="screen" />

    <node pkg="assignment1" type="roomba_node.py" name="roomba_node" output="screen" />

    <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
