<launch>

    <env name = "GSCAM_CONFIG" value = "v4l2src device=/dev/video0 !
        video/x-raw-rgb,framerate-25/1 ! ffmpegcolorspace" />

    <node pkg="gscam" name="web_cam" type="gscam">
        <param name = "camera_name" value = "web_cam" />
    </node>

   <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="log">
	<remap from="/image" to="/ORB_SLAM/Frame" />
	<param name="autosize" value="true"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ORB_SLAM)/Data/rviz.rviz" output="log">
   </node>

 	<node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="Data/ORBvoc.txt Data/Settings.yaml" cwd="node" output="screen">
   </node>

   <node pkg="assignment1" type="position_tracker.py" name="position_tracker" output="screen" />

</launch>
